/*Style for login page*/
.bgcolor{  
  background: url("../img/loginbg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*for mandatory field identification*/
#b{
  font-weight: bolder;
  color: #087a02;
}
/*style for validation error and success message */
/*===============start===================*/
.db_status{
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
    padding: 8px 35px 8px 14px !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) !important;
    margin-top: 10px !important;
}

/*.update_success_md{
    color: #324F17 !important;
    font-size: 14px !important;
}*/

.val_error{
    color: #ff0000;
    font-size: 14px !important;
    background-color: #d9edf7 !important;
    border-color: #bce8f1 !important;
    padding: 8px 35px 8px 14px !important;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) !important;
    display:none;
    margin-top: 10px !important;
}
.admin_status{
    display: none;
    color: #ff0000;
}

/*Style For Hide and Show*/
.slidingDiv {
	display:none;
}

.search_customer {
}

/* View Details - Horoscope*/
#horo_container{
    padding:5px;
    width:282px;
    height:282px;
    display:inline-block;   
}

.horo_row{
    font-size: 0px; /*Remove extra margins!*/
    min-height:282px;
   /* margin-top:25px;*/
    width:282px;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    /*padding:2%;    */
    background-image: url("../img/rasi/raasi1.png");
    background-repeat: no-repeat;
    background-position: right top;
}

.third-row{
    display:inline-block;
    width:23%;
    margin:1%;
    height:65px;
    font-family:Courier; color:white; font-size: 20px;
}

.asham_horo_row{
    font-size: 0px; /*Remove extra margins!*/
    min-height:282px;
   /* margin-top:25px;*/
    width:282px;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    /*padding:2%;    */
    background-image: url("../img/rasi/amsam1.png");
    background-repeat: no-repeat;
    background-position: right top;
    display: inline-block;
}
.asham-row{
    display:inline-block;
    width:23%;
    margin:1%;
    height:65px;
    font-family:Courier; color:white; font-size: 20px;
}
/*===============end===================*/
/*Edit-page-image-upload*/
#media-list li img {
    width: 100px;
    height: 100px
}

/*#media-list li video {
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%)
}*/

div#hint_brand .modal-dialog {
    top: 110px;
    width: 567px;
    max-width: 100%
}

li.myupload span {
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    background: #fff
}

li.myupload span input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

li.myupload span i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ccc;
    font-size: 54px
}

#media-list li {
    float: left;
    border: 1px solid #ccc;
    background: #ccc;
    position: relative;
    margin: 0 5px 5px 0;
    /*width: 102px*/
}

#media-list li:last-child {
    margin-right: 0
}

.post-thumb {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none
}

#media-list li:hover .post-thumb {
    display: block
}

a.remove-pic {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: #fff;
    /*border: 1px solid #fff;*/
    /*border-radius: 50%;*/
    display: block;
    height: 25px;
    width: 25px;
    text-align: center;
}

.inner-post-thumb {
    position: relative
}

ul.btn-nav {
    list-style: none;
    padding: 0;
    margin: 0
}

ul.btn-nav li {
    position: relative;
    float: left;
    margin: 0 10px 0 0
}

ul.btn-nav li span input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    opacity: 0;
    filter: alpha(opacity=100)
}

ul#media-list {
    list-style: none;
    padding: 0;
    margin: 0
}
/*.edit_img
{
  display: none;
}*/
.wrap-upload-buttons
{
  padding-left: 30px;
  padding-bottom: 20px;
}
.edit-mult-img
{
  padding-bottom: 10px;
}
.per-img-box
{
  margin-top: 35px;
}
.val-error
{
  color: #840707;
}
.user-img
{
    cursor: pointer;
}
/*Edit-image-upolad*/
.imageupload .panel-title {
  margin-right: 15px;
  padding-top: 8px;
}
.imageupload .alert {
  margin-bottom: 10px;
}
.imageupload .btn-file {
  overflow: hidden;
  position: relative;
}
.imageupload .btn-file input[type="file"] {
  cursor: inherit;
  display: block;
  font-size: 100px;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}
.imageupload .file-tab .thumbnail {
  margin-bottom: 10px;
}
.file-tab
{
    margin-top: 10px;
}
/*Style for customer_user_new page without data table*/
.box-contents{
	padding-right:10px;
	padding-left:10px;	
}
.paginations {
    display: inline-block;
}

.paginations a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.paginations a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.paginations a:hover:not(.active) {background-color: #ddd;}
/*Style for customer_user_new page without data table ends*/

.filters{
	float: left; 
	width: 124px;
}
.eldyou{
	margin-top:5px;
}
/*loader*/
.cus_page
{
	text-align:center;
}
.loader_holder {
 	background: rgba(0, 0, 0, 0) url("../img/Spinner.gif") no-repeat scroll center center;
    display:block;
    height: 150px;
    width: 100%;
    top:60%;
    position: absolute;
    /*position: fixed;*/
    display:none;
    margin: 0 auto;
    z-index: 9999;
   
}
.per_image
{
	text-align:center;
	display:inline-block;
}
