/*Style for login page*/
.bgcolor{  
  background: url("../img/loginbg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*for mandatory field identification*/
#b{
  font-weight: bolder;
  color: #087a02;
}
