.bgcolor{
  /*background-color: #087a02;*/
  /*background-color: #038027;*/
  /*background-color: rgba(3, 128, 39, 0.8);*/
  /*background-image: url("../img/login.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: auto;*/
  background: url("../img/loginbg.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#b{
  font-weight: bolder;
  color: #087a02;
}
/*Style For Hide and Show*/
.slidingDiv {
}

.search_customer {
}

/* View Details - Horoscope*/
#horo_container{
    padding:5px;
    width:282px;
    height:282px;
    display:inline-block;   
}

.horo_row{
    font-size: 0px; /*Remove extra margins!*/
    min-height:282px;
   /* margin-top:25px;*/
    width:282px;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    /*padding:2%;    */
    background-image: url("../img/rasi/raasi1.png");
    background-repeat: no-repeat;
    background-position: right top;
}

.third-row{
    display:inline-block;
    width:23%;
    margin:1%;
    height:65px;
    font-family:Courier; color:white; font-size: 20px;
}

.asham_horo_row{
    font-size: 0px; /*Remove extra margins!*/
    min-height:282px;
   /* margin-top:25px;*/
    width:282px;
    background-color:white;
    margin-left:auto;
    margin-right:auto;
    /*padding:2%;    */
    background-image: url("../img/rasi/amsam1.png");
    background-repeat: no-repeat;
    background-position: right top;
    display: inline-block;
}
.asham-row{
    display:inline-block;
    width:23%;
    margin:1%;
    height:65px;
    font-family:Courier; color:white; font-size: 20px;
}